$background-color: #784cc0;

%no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button-container-1 {
  @extend %no-select;

  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
  outline: none;
  padding: 0.25em 0.5em;
  color: white;
  background-color: $background-color;
  cursor: pointer;
}

.button-container-1:hover {
  background-color: lighten($background-color, 10%);
}

.button-container-1:focus {
  background-color: darken($background-color, 10%);
}

.button-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-item:not(:first-of-type) {
  margin-left: 0.5em;
}

.button-icon {
  font-size: 1.5em;
}

.button-text {
  word-break: none;
}
